@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');

/* FORMATEO CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
}

/* VARIABLES */

:root{
  --color-principal: #800E13;
  --color-secundario: #0074D9 ;
  --color-texto: #232323;
  --fuente-base: 'Montserrat', Arial, sans-serif;
  --fuente-secundaria: 'Press Start 2P', monospace;
}

/* ESTILOS GENERALES */

body{
  background-color: #e6f2f9;
  line-height: 1.6;
}

a,a:hover,a:focus{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* CABECERA */

.cabecera {
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 1.5rem;
  background: url(./assets/imgs/fondo_header.png);
  padding: 0.75rem 1rem;
}

.cabecera__buscador {
  width: 20%;
  padding-left: 0;
}

.cabecera__logo{
  display: flex;
  justify-content: center;
  width: 20%;
  transition: transform 0.35s;
}

.cabecera__logo:hover{
  transform: translateY(-6px);
}

.cabecera__logo--imagen{
  width: 45%;
  border-radius: 8rem;
  margin:0.5rem;
}

.cabecera__menu{
  display: flex;
  flex-direction: column;
  align-content: center;
  gap:2rem;
  font-family: var(--fuente-secundaria);
}

.cabecera__menu--lista{
  display: flex;
  justify-content: space-between;
  font-family: var(--fuente-base);
  width:100%;
  max-width: 100%;
  gap:4rem;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  
}

.cabecera__menu--titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecera__menu--imagen{
  width: 10%;
  margin-right: 2rem;
}

.cabecera__menu--enlace{
  font-family: var(--fuente-base);
  color: #fff;
  font-weight: 500;
}

.cabecera__menu--enlace:hover,
.cabecera__menu--enlace:focus {
  color: var(--color-secundario);
  text-decoration: underline;
}

.buscador__formulario{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:80%;
}

.buscador__formulario--imagen{
  width: 15%;
  align-content: center;
  margin-right: 1rem;
}

.buscador__formulario--input{
  width:100%;
  padding: 0.6rem 1.2rem;
  border-radius: 1.5rem;
  background: white;
  font-size: 1rem;
}

@media screen and (max-width: 1400px) {
  .cabecera {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .cabecera__logo {
    width: 25%;
    justify-content: center;
    margin: 0 auto;
  }
  .cabecera__menu {
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  .cabecera__menu--imagen{
    width: 80px;
  }

  .cabecera__menu--lista {
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    font-size:1rem;
    padding: 1rem;
  }

  .cabecera__menu--titulo{
    font-size: 1.5rem;
  }
  .cabecera__buscador {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .buscador__formulario {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .cabecera {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }
  .cabecera__logo {
    width: 40%;
    margin-bottom: 0.5rem;
    margin: 0 auto;
  }
  .cabecera__menu {
    width: 100%;
    gap: 0.5rem;
    padding:1rem;
  }

  .cabecera__menu--titulo{
    font-size: 1.2rem;
  }

  .cabecera__menu--imagen{
    width: 55px;
  }

  .cabecera__menu--lista {
    width: 100%;
    font-size: 0.95rem;
    padding: 1rem 0.5rem;
  }
  .cabecera__buscador {
    width: 90%;
    margin: 0 auto;
    padding:1rem;
  }
  .buscador__formulario {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .cabecera {
    padding: 0.25rem;
  }
  .cabecera__logo {
    width: 50%;
    margin: 0 auto;
  }

  .cabecera__menu{
    padding:1rem;
  }
  .cabecera__menu--titulo{
    font-size: 0.8rem;

  }

  .cabecera__menu--lista {
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }
  .cabecera__buscador {
    display: flex;
    width: 100%;
  }
  .buscador__formulario input {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}

/* FOOTER */

.pie-pagina{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:2rem;
  max-width: 100%;
  background: url(./assets/imgs/fondo_footer.png);
  background-position-y: 20px;
}

.pie-pagina__contacto,.pie-pagina__info{
  width: 50%;
}

.pie-pagina__contacto--titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.8rem;
  text-align: center;
  padding: 0 2rem;
}


.pie-pagina__info--titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.8rem;
  text-align: center;
  padding-top:2rem;
}

.pie-pagina__contacto--informacion,.pie-pagina__info--descripcion{
  font-family: var(--fuente-base);
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}

.footer-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  padding-left: 1rem;
}

.footer-extra__imagen {
  max-width: 70%; 
  height: auto;
  border-radius: 50%;
  padding:0.5rem 0;
  transition: transform 0.3s ease;
}

@media (max-width: 1000px) {

  .pie-pagina {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-position-y: 0;
  }

  .pie-pagina__contacto,
  .pie-pagina__info {
    width: 90%;
  }

  .pie-pagina__contacto--titulo,
  .pie-pagina__info--titulo {
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .pie-pagina__contacto--informacion,
  .pie-pagina__info--descripcion {
    font-size: 1.05rem;
    padding: 0.8rem 1rem;
  }

  .footer-extra {
    width: 60%;
    justify-content: center;
    padding-left: 0;
  }

  .footer-extra__imagen {
    max-width: 30%;
  }
}

@media (max-width: 600px) {

  .pie-pagina__contacto,
  .pie-pagina__info {
    width: 100%;
  }

  .pie-pagina__contacto--titulo,
  .pie-pagina__info--titulo {
    font-size: 1rem;
    padding: 1.5rem;
    overflow-wrap: break-word;
  }

  .pie-pagina__contacto--informacion,
  .pie-pagina__info--descripcion {
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
  }

  .footer-extra {
    width: 80%;
  }

  .footer-extra__imagen {
    max-width: 40%;
  }
}



.footer-extra__imagen:hover{
  transform: translateY(-6px);
}
.footer-extra__boton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  bottom: 30px;    
  right: 30px;     
  z-index: 2;
  background-color: var(--color-principal);
  color:white;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--color-secundario);
  transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
}

.footer-extra__boton::after {
  content: '↑';
  font-weight: 9000;
  line-height: 1;
}

.footer-extra__boton:hover {
  color:var(--color-principal);
  background-color: var(--color-secundario); 
  border-color: var(--color-principal);
  transform: translateY(-4px) scale(1.05);

}

/* INDEX */

.introduccion{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.introduccion__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;
  padding:1rem;
}

.introduccion__descripcion{
  font-family: var(--fuente-base);
  font-weight: 600;
  padding:1.5rem;
  text-align: center;
}

.mejores-sagas {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  background: #fcfcfc;
  padding: 2rem;
  border-radius: 4rem;
  max-width: 720px;
  transition: box-shadow 0.35s, transform 0.25s;
  border: 3px solid white;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.mejores-sagas:hover{
  transform: translateY(-6px);
}

.mejores-sagas__figura--imagen:hover {
  transform: scale(1) rotate(-3deg);
}
.mejores-sagas__titulo {
  width: 100%;
  font-family: var(--fuente-base);
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--color-texto);
  padding-bottom: 2rem ;
  text-align: center;
}

.mejores-sagas__figura{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
}

.mejores-sagas__figura--imagen{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 18px;
  transition: transform 0.2s, box-shadow 0.22s;
}

.mejores-sagas__figura--imagen[alt="Letra M de Mario Bros"]{
  background-color:#2773F598;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.mejores-sagas__figura--imagen[alt="Inkling de Splatoon"]{
  background-color: #66656598;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.mejores-sagas__figura--imagen[alt="Kirby"]{
  background-color: #FF262698;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.sagas-principales {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 80%;
  margin: 2rem auto;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}


.sagas-principales__titulo{
  font-family: var(--fuente-secundaria);
  text-align: center;
  width: 80%;
  padding: 2rem;
  overflow-wrap: break-word;
}


.sagas-principales__mario--descripcion,.sagas-principales__splatoon--descripcion,.sagas-principales__kirby--descripcion{
  font-family: var(--fuente-base);
  padding-top: 1rem;
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  
}

.sagas-principales__mario--titulo,.sagas-principales__splatoon--titulo,.sagas-principales__kirby--titulo{
  padding:2.5rem;
  font-size: 1.4rem;
  font-family: var(--fuente-secundaria);
 }

.sagas-principales__mario--imagen,.sagas-principales__splatoon--imagen,.sagas-principales__kirby--imagen{
  background: #fcfcfc;;
  border-radius: 4rem;
  transition: transform 0.35s;
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.sagas-principales__mario--imagen:hover,.sagas-principales__splatoon--imagen:hover,.sagas-principales__kirby--imagen:hover{
  transform: scale(1) rotate(-3deg);
}

.sagas-principales__mario,.sagas-principales__splatoon,.sagas-principales__kirby{
  padding:2rem;
  background: rgba(255,255,255,0.7);
  border-radius: 6rem;
  border: 3px solid white;
  transition: transform 0.5s ease;
}

.sagas-principales__mario:hover,.sagas-principales__splatoon:hover,.sagas-principales__kirby:hover{
  transform: translateY(-6px);
}

@media (max-width: 1000px) {
  .sagas-principales {
    flex-direction: column;
    align-items: center;
    width: 98%;
    max-width: 700px;
    gap: 1.5rem;
  }
  .sagas-principales__mario,
  .sagas-principales__splatoon,
  .sagas-principales__kirby {
    width: 95%;
    min-width: 0;
    margin: 1rem auto;
    padding: 1rem;
  }
  .sagas-principales__mario--imagen,
  .sagas-principales__splatoon--imagen,
  .sagas-principales__kirby--imagen {
    width: 90%;
    height: auto;
    margin: 0 auto 1rem auto;
    border-radius: 3rem;
  }
  .sagas-principales__mario--titulo,
  .sagas-principales__splatoon--titulo,
  .sagas-principales__kirby--titulo {
    padding: 1.3rem;
    font-size: 1.1rem;
  }
  .sagas-principales__mario--descripcion,
  .sagas-principales__splatoon--descripcion,
  .sagas-principales__kirby--descripcion {
    max-width: 90%;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .sagas-principales {
    width: 85%;
    max-width: 100%;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .sagas-principales__titulo{
    font-size: 1rem;
  }
  .sagas-principales__mario,
  .sagas-principales__splatoon,
  .sagas-principales__kirby {
    width: 100%;
    padding: 1rem;
    border-radius: 2.5rem;
  }
  .sagas-principales__mario--imagen,
  .sagas-principales__splatoon--imagen,
  .sagas-principales__kirby--imagen {
    max-width: 100%;
    border-radius: 1.5rem;
  }
  .sagas-principales__mario--titulo,
  .sagas-principales__splatoon--titulo,
  .sagas-principales__kirby--titulo {
    font-size: 0.98rem;
    padding: 0.7rem;
  }
  .sagas-principales__mario--descripcion,
  .sagas-principales__splatoon--descripcion,
  .sagas-principales__kirby--descripcion {
    font-size: 0.92rem;
    max-width: 96%;
  }
}



.extra{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.noticias-destacadas,.puntos-destacados{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1.5rem;
}

.noticias-destacadas__mario--imagen,.noticias-destacadas__splatoon--imagen,.noticias-destacadas__kirby--imagen{
  border-radius: 6rem;
  width: 260px;               
  height: 160px;
  border: 4px solid var(--color-secundario);                   
  object-fit: cover;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}


.noticias-destacadas__mario--imagen:hover,.noticias-destacadas__splatoon--imagen:hover,.noticias-destacadas__kirby--imagen:hover{
  transform: translateY(-6px);
  border:4px solid var(--color-principal);
}

.noticias-destacadas__mario--descripcion,.noticias-destacadas__splatoon--descripcion,.noticias-destacadas__kirby--descripcion{
  font-size: 1.2rem;
  font-family: var(--fuente-base);
  max-width: 80%;
  margin: 0 auto;
  padding:1rem;
}

.noticias-destacadas__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem;
  text-align: center;
  overflow-wrap: break-word;
}

.noticias-destacadas__kirby--titulo,.noticias-destacadas__mario--titulo,.noticias-destacadas__splatoon--titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1rem;
}
.noticias-destacadas__splatoon,.noticias-destacadas__kirby,.noticias-destacadas__mario{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding:0 2rem;
  gap:1rem;
}


@media (max-width: 1000px) {
  .extra {
    flex-direction: column;
    align-items: center;
  }
  .noticias-destacadas,
  .puntos-destacados {
    width: 90%;
    padding: 1rem;
  }
  .noticias-destacadas__mario--imagen,
  .noticias-destacadas__splatoon--imagen,
  .noticias-destacadas__kirby--imagen {
    width: 100%;
    max-width: 100%;
    height: auto;
    border:5px solid var(--color-secundario);
    transition: background 0.3 ease;
    
  }
  .noticias-destacadas__mario--descripcion,
  .noticias-destacadas__splatoon--descripcion,
  .noticias-destacadas__kirby--descripcion {
    padding-top: 2rem;
    max-width: 80%;
    font-size: 1rem;
  }
  .noticias-destacadas__titulo,
  .puntos-destacados__titulo {
    font-size: 1.3rem;
    padding: 0.8rem;
  }
}

@media (max-width: 600px) {
  .noticias-destacadas__mario--imagen,
  .noticias-destacadas__splatoon--imagen,
  .noticias-destacadas__kirby--imagen {
    max-width: 100%;
  }
  .noticias-destacadas__titulo,
  .puntos-destacados__titulo {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .noticias-destacadas__splatoon--descripcion,
  .noticias-destacadas__kirby--descripcion,
  .noticias-destacadas__mario--descripcion {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

.puntos-destacados__titulo{
  padding: 1rem;
  font-family: var(--fuente-secundaria);
  font-size: 1.5rem;
  text-align: center;
}

.puntos-destacados__splatoon,
.puntos-destacados__kirby,
.puntos-destacados__mario{
  padding-bottom: 2rem;
}



.puntos-destacados__splatoon--sumario,
.puntos-destacados__kirby--sumario,
.puntos-destacados__mario--sumario{
  font-family: var(--fuente-secundaria);
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background: var(--color-principal);
  border-radius: 2rem;
  padding: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.puntos-destacados__splatoon--enlace,
.puntos-destacados__kirby--enlace,
.puntos-destacados__mario--enlace
{
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-texto);
  background: #5dd772;
  border-radius: 1.25rem;
  font-weight: bold;
  font-family: var(--fuente-secundaria);
  transition: background-color 0.2s ease,transform 0.4s ease;
}

.puntos-destacados__splatoon--enlace:active,
.puntos-destacados__kirby--enlace:active,
.puntos-destacados__mario--enlace:active
{
  background: var(--color-secundario);
  color: var(--color-texto);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}


.puntos-destacados__splatoon--enlace:hover,
.puntos-destacados__kirby--enlace:hover,
.puntos-destacados__mario--enlace:hover,
.puntos-destacados__splatoon--enlace:focus-visible,
.puntos-destacados__kirby--enlace:focus-visible,
.puntos-destacados__mario--enlace:focus-visible{
  background: var(--color-secundario);
  transform: translateX(10px)
}

.puntos-destacados__splatoon--sumario:hover,
.puntos-destacados__kirby--sumario:hover,
.puntos-destacados__mario--sumario:hover,
.puntos-destacados__splatoon--sumario:focus,
.puntos-destacados__kirby--sumario:focus,
.puntos-destacados__mario--sumario:focus,
.puntos-destacados__splatoon--sumario:focus-visible,
.puntos-destacados__kirby--sumario:focus-visible,
.puntos-destacados__mario--sumario:focus-visible {
  background: var(--color-secundario);
  transform: translateY(-6px);
  color: #232323;
}

.puntos-destacados__splatoon--lista,
.puntos-destacados__kirby--lista,
.puntos-destacados__mario--lista {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.newsletter{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.newsletter__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.5rem;
  width: 100%;
  padding: 0 3rem;
  text-align: center;
  overflow-wrap: break-word;
  
}

.newsletter__descripcion{
  max-width: 100%;
  width: 85%;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--fuente-base);
  padding:2rem;
}

.newsletter__formulario {
  display: flex;
  flex-direction: column;
  font-size: 1.15rem;
  font-family: var(--fuente-base);
  background: rgba(255,255,255,0.7);
  border: 3px solid white;
  border-radius: 2rem;
  padding: 2rem;
  gap: 1.5rem;
  width: 35%;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.newsletter__formulario:hover{
  transform: translateY(-6px);
}

.newsletter__label--email{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  font-size: 1rem;
  text-align: center;
}
.newsletter__label--checkbox {
  width: 100%;
  font-size: 0.9rem;
  gap:1rem;
  text-align: center;
}

.newsletter__formulario--input{
  padding: 1rem;
  border: 1.5px solid #BDBDBD;
  border-radius: 0.7rem;
  font-size: 1rem;
  background: #fff;
  transition: border 0.18s;
}

.newsletter__formulario--input:focus{
  border: 3px solid var(--color-secundario)

}
.newsletter__boton {
  background-color:var(--color-principal);
  border: 4px solid var(--color-secundario);
  padding: 1.5rem;
  margin:0.5rem;
  border-radius: 2rem;
  color: white;
  font-weight: 600;
  transition: border-color 0.4s ease, transform 0.5s ease;
  cursor: pointer;
}

.newsletter__boton:hover{
  background-color: var(--color-secundario);
  color: var(--color-texto);
  border: 4px solid var(--color-principal);
  transform: translateY(-6px);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

}

@media (max-width: 1000px) {

  .newsletter {
    flex-direction: column;
    align-items: center;
  }

  .newsletter__titulo {
    font-size: 1.3rem;
    padding: 0 2rem;
    text-align: center;
  }

  .newsletter__descripcion {
    width: 90%;
    font-size: 1.05rem;
    padding: 1.5rem 1rem;
  }

  .newsletter__formulario {
    width: 60%;
    padding: 1.8rem;
  }

  .newsletter__label--checkbox {
    flex-wrap: wrap;
    white-space: normal;
    font-size: 0.85rem;
  }

  .newsletter__boton {
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
  }
}

@media (max-width: 600px) {

  .newsletter {
    flex-direction: column;
    align-items: center;
  }

  .newsletter__titulo {
    font-size: 1.1rem;
    padding: 0 1.2rem;
    text-align: center;
  }

  .newsletter__descripcion {
    width: 95%;
    font-size: 0.95rem;
    padding: 1.2rem 0.8rem;
  }

  .newsletter__formulario {
    width: 80%;
    padding: 1.5rem;
  }

  .newsletter__label--checkbox {
    font-size: 0.8rem;
  }

  .newsletter__boton {
    font-size: 0.8rem;
    padding: 0.7rem 1.4rem;
  }
}



.pie-pagina__contacto--enlace{
  color:var(--color-texto);
}
.pie-pagina__contacto--enlace:hover{
  color: var(--color-secundario);
}


/* CONTACTO */

.colaboracion{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colaboracion__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.4rem;
  text-align: center;
  padding:1.5rem;
}

.colaboracion__descripcion{
  font-family: var(--fuente-base);
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  padding:1.5rem;
}

.colaboracion__figura{
 display: flex;
 flex-direction: column;
 gap:2rem;
 text-align: center;
 font-family: var(--fuente-base);
 font-size: larger;
 font-weight: 600;
}

.colaboracion__figura--imagen{
  max-width: 300px;
  margin:0 auto;
  border-radius: 3rem;
  border: 4px solid var(--color-secundario);
  transition: transform 0.5s ease;
}

.colaboracion__figura--imagen:hover{
  transform: translateY(-6px);
  border: 4px solid var(--color-principal)
}
.colaboracion__figura--descripcion{
  font-family: var(--fuente-base);
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 1000px) {
  .colaboracion__titulo {
    font-size: 1rem;
    padding: 1.5rem;
  }
  .colaboracion__descripcion {
    font-size: 1rem;
  }
  .colaboracion__figura {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .colaboracion__figura--imagen {
    max-width: 220px;
    border-radius: 2rem;
  }
  .colaboracion__figura--descripcion {
    font-size: 1rem;
    padding-bottom: 0.8rem;
  }
}

.contacto{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 2rem;
  gap: 2rem;
}

.contacto__titulo{
  font-family: var(--fuente-secundaria);
  text-align: center;
  font-size: 1.5rem;
  padding:1.5rem;
}

.contacto__formulario{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--fuente-base);
  background: white;
  border-radius: 2rem;
  padding: 2.5rem;
  max-width: 600px;
}

.contacto__formulario--campo{
  border: none;
  margin-bottom: 1.5rem;
  padding: 0;
}

.contacto__formulario--leyenda{
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-principal);
  padding-bottom: 1rem;
}

.contacto__formulario--etiqueta{
  display: block;
  padding-bottom: 1rem;
  color: var(--color-texto)
}

.contacto__formulario--boton{
  background-color:var(--color-principal);
  border: 4px solid var(--color-secundario);
  padding: 1.5rem;
  margin:0.5rem;
  border-radius: 2rem;
  color: white;
  font-weight: 600;
  transition: border-color 0.4s ease, transform 0.5s ease;
  cursor: pointer;
  
}

.contacto__formulario--boton:hover{
  transform: translateY(-6px);
  background-color: var(--color-secundario);
  border: 4px solid var(--color-principal);
  color: var(--color-texto)

}



@media (max-width: 900px) {
  .contacto {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contacto__titulo {
    font-size: 1.3rem;
    padding: 1rem 0.4rem;
  }

  .contacto__formulario {
    max-width: 75%;
    padding: 1.2rem;
    margin: 0 auto;
    border-radius: 1.2rem;
  }

  .contacto__formulario--leyenda{
    font-size: 1.07rem;
    padding-bottom: 0.7rem;
  }
  
  .contacto__formulario--etiqueta{
    padding-bottom: 0.7rem;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .contacto {
    flex-direction: column;
    padding: 0 0.3rem;
    width: 100%;
  }

  .contacto__titulo {
    font-size: 1rem;
    padding: 0.6rem 0.1rem;
  }

  .contacto__formulario {
    max-width: 100%;
    width: 80%;
    padding: 1.4rem;
    border-radius: 1.2rem;
  }

  .contacto__formulario--leyenda{
    font-size: 0.95rem;
    padding-bottom: 0.3rem;
  }
  
  .contacto__formulario--etiqueta{
    padding-bottom: 0.4rem;
    font-size: 0.87rem;
  }
}

.contacto__formulario--input,
.contacto__formulario--select,
.contacto__formulario--textarea {
  width: 100%;
  padding: 0.5rem;
  border: 3px solid #b3c5f6;
  border-radius: 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.contacto__formulario--input:focus,
.contacto__formulario--select:focus,
.contacto__formulario--textarea:focus {
  border-color: var(--color-secundario);
}


.faq-contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap:1rem;
  font-family: var(--fuente-base);
  font-size: 1.4rem;
  padding-bottom: 2rem;
}


.faq-contacto__titulo{
  font-family: var(--fuente-secundaria);
  text-align: center;
  font-size: 1.5rem;
  padding:1.5rem;
}

.faq-contacto__descripcion{
  font-family: var(--fuente-base);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding:1rem;
}

.faq-contacto__sumario{
  display: inline-block;
  color: white;
  text-align: center;
  background:var(--color-principal);
  font-family: var(--fuente-secundaria);
  padding: 1rem;
  border: 4px solid var(--color-secundario);
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.5s ease;

}

.faq-contacto__sumario:hover{
  background-color: var(--color-secundario);
  border: 4px solid var(--color-principal);
  color: var(--color-texto);
  transform: translateY(-6px)

}

.faq-contacto__sumario--descripcion{
  font-size: 1rem;
  padding:0.5rem;
}
/* ABOUT US*/

.sobre-nosotros{
  display: flex;
  flex-wrap: wrap;
}

.sobre-nosotros__titulo,.juramento__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.sobre-nosotros__historia,.sobre-nosotros__juramento{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  width: 50%;
  padding:2rem;
  min-width: 300px;
}

@media (max-width: 900px){
  .sobre-nosotros{
    flex-direction: column;
    align-items: center;
  }
  .sobre-nosotros__historia,
  .sobre-nosotros__juramento {
    width: 100%;
    padding: 1rem;
  }
}


.historia__titulo,.juramento__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.2rem;
  padding:2rem;
}

.historia__descripcion,.juramento__descripcion{
  font-family: var(--fuente-base);
  text-align: center;
  font-weight: 600;
  padding:1.5rem;
}

.historia__imagen,.juramento__imagen{
  max-width: 400px;
  width: 400px;
  border-radius: 5rem;
}

.pilares{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.pilares__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.5rem;
  padding:2rem;
}

.calidad{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;
}

.calidad__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.2rem;
  padding:2rem;
}

.calidad__descripcion{
  font-family: var(--fuente-base);
  font-weight: 600;
  padding:2rem;
}

.calidad__lista{
  display: flex;
  justify-content: space-between;
  gap:2rem;
  padding:2rem;
}

.calidad__lista li{
  font-weight: 600;
  font-size: 1.4rem;
}

.calidad__lista p{
  font-size: 1rem;
}

.calidad__lista img{
  width: 375px;
  border-radius: 5rem;
}

.calidad__lista--kirby,.calidad__lista--mario,.calidad__lista--splatoon{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fuente-base);
  gap:2rem;
  width: 33%;
}

.equipo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.equipo__titulo{
  font-family: var(--fuente-secundaria);
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  padding:2rem;
}

.equipo__descripcion{
  font-family: var(--fuente-base);
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding:2rem;
}

.equipo__miembro1,.equipo__miembro2,.equipo__miembro3{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #800E1397;
  border-radius: 2rem;
  padding: 1.5rem;
  width: 30%;
  max-width: 100%;
  gap:3rem;
  margin:1rem 1.2rem;
}

@media (max-width: 900px){
  .equipo {
    flex-direction: column;
    align-items: center;
  }
  .equipo__miembro1,
  .equipo__miembro2,
  .equipo__miembro3 {
    width: 90%;
    margin: 1rem 0;
  }
}


.miembro1__titulo,.miembro2__titulo,.miembro3__titulo{
  font-family: var(--fuente-secundaria);
  line-height: 1.6;
}

.miembro1__figura,.miembro2__figura,.miembro3__figura{
  display: flex;
  flex-direction: column;
  gap:2rem;
  text-align: center;
  font-family: var(--fuente-base);

}
.miembro1__descripcion,.miembro2__descripcion,.miembro3__descripcion{
  font-family: var(--fuente-base);
  font-weight: 600;
}

.cuestionario{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding:2rem;
}

.cuestionario__titulo{
  font-family: var(--fuente-secundaria);
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  padding:2rem;
}

.cuestionario__descripcion{
  font-family: var(--fuente-base);
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding:1.5rem;
}

.cuestionario__figura{
  font-family: var(--fuente-base);
  width: 100%;
  text-align: center ;
  font-weight: 600;
}

.cuestionario__figura--imagen{
  border-radius: 2rem;
  max-width: 30%;
}

.cuestionario__figura--descripcion{
  padding: 2rem;
}

.cuestionario__enlace{
  display: block;
  color:white;
  padding:1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 2rem;
  font-weight: 600;
  background-color: var(--color-principal);
  border: 4px solid var(--color-secundario);
  font-family: var(--fuente-base);
  transition: background-color 0.3s ease, transform 0.5s ease;

}

.cuestionario__enlace:hover, 
.cuestionario__enlace:focus {
  background-color: var(--color-secundario); 
  border: 4px solid var(--color-principal);
  color: var(--color-texto);
  transform: translateY(-6px)
}

/* COMPARATIVAS */

.comparativas__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 2rem;
  text-align: center;
  padding:2rem;
  overflow-wrap: break-word;
}

.hitos,.evolucion-kirby,.evolucion-mario,.evolucion-splat{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1.5rem;
  width: 100%;
  max-width: 100%;
}

.hitos__titulo,.evolucion-kirby__titulo,.evolucion-mario__titulo,.evolucion-splat__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.4rem;
  text-align: center;
  padding:2rem;
  overflow-wrap: break-word;
}

.hitos__descripcion,.evolucion-kirby__descripcion,.evolucion-mario__descripcion,.evolucion-splat__descripcion{
  font-family: var(--fuente-base);
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding:1.5rem;
}

.hitos__tabla,.evolucion-kirby__tabla,.evolucion-mario__tabla,.evolucion-splat__tabla{
  max-width: 50%;
  width: 100%;
  border-collapse: collapse;
  font-family: var(--fuente-base);
  font-size: 1rem;
  background: #fff;
  border-radius: 2rem;
  overflow: hidden;
}

.hitos__tabla--titulo,.evolucion-kirby__tabla--titulo,.evolucion-splat__tabla--titulo,.evolucion-mario__tabla--titulo{
  font-family: var(--fuente-secundaria);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem;
  background-color: var(--color-principal);
  color: #fff;
}

@media (max-width: 1000px) {
  .comparativas__titulo {
    font-size: 1.4rem;
    padding: 1.2rem 0.7rem;
  }

  .hitos,
  .evolucion-kirby,
  .evolucion-mario,
  .evolucion-splat {
    gap: 1rem;
    max-width: 100%;
    padding: 0 0.7rem;
  }

  .hitos__titulo,
  .evolucion-kirby__titulo,
  .evolucion-mario__titulo,
  .evolucion-splat__titulo {
    font-size: 1rem;
    padding: 0.9rem 0.5rem;
  }

  .hitos__descripcion,
  .evolucion-kirby__descripcion,
  .evolucion-mario__descripcion,
  .evolucion-splat__descripcion {
    font-size: 0.97rem;
    padding: 0.7rem 0.4rem;
  }

  .hitos__tabla,
  .evolucion-kirby__tabla,
  .evolucion-mario__tabla,
  .evolucion-splat__tabla {
    max-width: 100%;
    font-size: 0.94rem;
    margin: 0;
    border-radius: 1.2rem;
  }

  .hitos__tabla--titulo,
  .evolucion-kirby__tabla--titulo,
  .evolucion-splat__tabla--titulo,
  .evolucion-mario__tabla--titulo {
    font-size: 1rem;
    padding: 1rem 0.3rem;
  }
}

@media (max-width: 600px) {
  .comparativas__titulo {
    font-size: 1.06rem;
    padding: 1rem;
  }

  .hitos,
  .evolucion-kirby,
  .evolucion-mario,
  .evolucion-splat {
    gap: 0.7rem;
    padding: 0.5rem;
    max-width: 100%;
  }

  .hitos__titulo,
  .evolucion-kirby__titulo,
  .evolucion-mario__titulo,
  .evolucion-splat__titulo {
    font-size: 1rem;
    padding: 1rem;
  }

  .hitos__descripcion,
  .evolucion-kirby__descripcion,
  .evolucion-mario__descripcion,
  .evolucion-splat__descripcion {
    font-size: 0.87rem;
    padding: 1rem;
  }

  .hitos__tabla,
  .evolucion-kirby__tabla,
  .evolucion-mario__tabla,
  .evolucion-splat__tabla {
    font-size: 0.88rem;
    max-width: 100%;
    border-radius: 0.7rem;
    margin: 0 auto;
  }

  .hitos__tabla--titulo,
  .evolucion-kirby__tabla--titulo,
  .evolucion-splat__tabla--titulo,
  .evolucion-mario__tabla--titulo {
    font-size: 0.84rem;
    padding: 0.5rem 0.1rem;
  }
}

.tabla__head--titulo{
  font-family: var(--fuente-base);
  font-weight: 600;
  color: var(--color-texto);
  background: var(--color-secundario);
  padding: 1rem;
  border-bottom: 3px solid var(--color-principal);
  text-align: center;
}

.tabla__body--titulo,
.tabla__body--celda,
.tabla__footer--celda{
  font-family: var(--fuente-base);
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  transition: background 0.3s ease;
}

.tabla__body--titulo{
  font-weight: 600;
  color: var(--color-principal);
  background: #faf7f7;
}

.tabla__body--linea:hover .tabla__body--celda,
.tabla__body--linea:hover .tabla__body--titulo,
.tabla__footer--celda:hover{
  background: #f7f5ff;
}

.analisis{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center ;
  gap:1.2rem;
}

.analisis__titulo{
  width: 100%;
  text-align: center;
  font-family: var(--fuente-secundaria);
  font-size: 1.5rem;
  padding:1rem;
}

.analisis__descripcion{
  width: 100%;
  text-align: center;
  font-family: var(--fuente-base);
  padding:1.5rem;
}

.analisis__splatoon--titulo,.analisis__mario--titulo,.analisis__kirby--titulo{
  text-align: center;
  font-family: var(--fuente-secundaria);
}

.analisis__splatoon--descripcion,.analisis__mario--descripcion,.analisis__kirby--descripcion{
  text-align: center;
  font-family: var(--fuente-base);
}


.analisis__splatoon,.analisis__kirby,.analisis__mario{
  display: flex;
  flex-direction: column;
  gap:2rem;
  align-items: center;
  min-width: 280px;
  min-height: 130px;
  width: 30%;
}

.analisis__splatoon--imagen,.analisis__mario--imagen,.analisis__kirby--imagen{
  width: 70%;
  height: 160px;
  object-fit: cover;
  border-radius: 3rem;
  margin-top:auto;
  border: 4px solid var(--color-secundario);
  transition: border 0.3s ease,transform 0.5s ease;
}

.analisis__splatoon--imagen:hover,.analisis__mario--imagen:hover,.analisis__kirby--imagen:hover{
  transform: translateY(-6px);
  border: 4px solid var(--color-principal);
}

.voto{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.voto__titulo{
  width: 100%;
  font-family: var(--fuente-secundaria);
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem;
}

.voto__descripcion{
  font-family: var(--fuente-base);
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding:1.5rem;
}

.voto__formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  min-width: 260px; 
  padding:2rem;
  margin:1.5rem;
  font-family: var(--fuente-base);
  background-color: #800E1397;
  border: solid 3px var(--color-secundario);
  border-radius: 4rem;
  transition: transform 0.5s ease;
}

.voto__formulario:hover{
  transform: translateY(-6px);
}

.voto__formulario--campo{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap:2rem;
}

.voto__formulario--leyenda{
  font-family: var(--fuente-secundaria);
  text-align: center;
}

.voto__formulario--etiqueta{
  display: flex;
  gap:1rem;
}

.voto__formulario--checkbox{
  cursor: pointer;
}

.voto__formulario--boton{
  width: 100%;
  background:var(--color-principal);
  padding: 1rem;
  border-radius: 2rem;
  border: solid 2px var(--color-secundario);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s, transform 0.4s;
}

.voto__formulario--boton:hover{
  background-color: var(--color-secundario); 
  transform: translateY(-6px);
  border: solid 2px var(--color-principal);

}
.voto__formulario--etiqueta{
  display: flex;
  align-items: center;
  width: 100%;
}

.voto__formulario--imagen{
  max-width: 50px;
  width: 50px;
  min-width: 30px;
}

.voto__figura{
  align-self: center;
  text-align: center;
  font-family: var(--fuente-base);
  font-weight: 600;
}

.voto__figura--imagen{
  max-width: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 4rem;
  transition: color 0.3s ease,transform 0.5s ease;
}

.voto__figura--imagen:hover{
  transform: translateY(-6px);
}

@media (max-width: 1300px) {
  .voto{
    flex-direction: column;
    align-items: center;
  }
  .voto__titulo {
    font-size: 1.1rem;
    padding: 1.2rem 0.5rem;
  }

  .voto__descripcion {
    font-size: 1rem;
    padding: 0.8rem 0.4rem;
  }

  .voto__formulario {
    max-width: 60%;
    min-width: 180px;
    padding: 1.5rem;
    border-radius: 2.5rem;
  }

  .voto__formulario--campo {
    gap: 1.1rem;
  }
  .voto__formulario--leyenda{
    font-size: 0.8rem;
    padding:0.4rem;
  }
  .voto__formulario--boton {
    font-size: 0.90rem;
    padding: 0.8rem;
    border-radius: 1.4rem;
  }

  .voto__figura--imagen {
    max-width: 350px;
    padding: 1rem;
    border-radius: 3rem;
  }

  .voto__formulario--imagen{
    max-width: 40px;
    width: 40px;
    min-width: 22px;
  }
}
