@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
}

:root{
  --color-principal: #800E13;
  --color-secundario: #464D77;
  --color-texto: #232323;
  --fuente-base: 'Montserrat', Arial, sans-serif;
  --fuente-secundaria: 'Press Start 2P', monospace;
}

body{
  background: url(./assets/imgs/fondo_index.png);
}

a {
  color: var(--color-texto); 
  text-decoration: none;
}

footer {
  display: flex;
  width: 100%;
  padding: 1rem 0.6rem;
  background: url(./assets/imgs/fondo_footer.png);
  background-position-y: 20px;
  font-family: var(--fuente-secundaria);
}

.cabecera {
  height: auto;
  min-height: 4rem;
  background: url(./assets/imgs/fondo_header.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.cabecera__buscador {
  width: 20%;
  padding-left: 0;
}

.cabecera__logo{
 width: 15%
}

.cabecera__logo img{
  width: 60%;
  border-radius: 8rem;
  margin:1rem;
}

.cabecera__menu{
  width: 60%;
  align-content: center;
  font-family: var(--fuente-secundaria);
}

.cabecera__menu ul{
  padding: 1rem;
  width:100%;
  display: flex;
  justify-content: space-between;
  gap:2rem;
  font-size: 1.2rem;
  font-family: var(--fuente-base);
  font-weight: bolder;
}

.cabecera__menu h1{
  display: grid;
  place-items: center;
}

.menu__titulo{
  display:flex;
  justify-content: center;
}

.menu__titulo img{
  margin-top: 2rem;
  width: 20%;
}


.buscador__formulario{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:80%;
}

.buscador__formulario img{
  width: 15%;
  align-content: center;
  margin-right: 1rem;
}

.buscador__formulario input{
  width:100%;
  padding: 0.6rem 1.2rem;
  border-radius: 1.5rem;
  background: rgba(255,255,255,0.75);
  font-size: 1rem;
}
.menu__lista{
  display:flex;
  justify-content: space-between;
}

.introduccion{
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.introduccion__banner {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}


.introduccion__banner img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0;
}


.sagas-principales__imagenes{
  display: flex;
  flex-direction: row;
  justify-content: center;               
  max-width: none;           
  margin: auto;
  max-width: 30%;
}

.pie-pagina__contacto h2, .pie-pagina__info h2{
  margin-bottom: 1rem;
  color: white

}