@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');

/* FORMATEO CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
}

/* VARIABLES */

:root{
  --color-principal: #800E13;
  --color-secundario: #464D77;
  --color-texto: #232323;
  --fuente-base: 'Montserrat', Arial, sans-serif;
  --fuente-secundaria: 'Press Start 2P', monospace;
}

/* ESTILOS GENERALES */

body{
  background: url(./assets/imgs/fondo_index.png)
}

a {
  color: var(--color-texto); 
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  word-break: break-word;
  width: 100%;
  gap:2rem;
  max-width: 100%;
  background: url(./assets/imgs/fondo_footer.png);
  background-position-y: 20px;
  font-family: var(--fuente-secundaria);
}

/* CABECERA */

.cabecera {
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 2rem;
  background: url(./assets/imgs/fondo_header.png);
  padding: 0.75rem 1rem;
}

.cabecera__buscador {
  width: 20%;
  padding-left: 0;
}

.cabecera__logo{
 width: 20%;
 transition: box-shadow 0.35s, transform 0.25s;
}

.cabecera__logo:hover{
  transform: translateY(-6px);
}

.cabecera__logo--imagen{
  width: 45%;
  border-radius: 8rem;
  margin:0.5rem;
}

.cabecera__menu{
  display: flex;
  flex-direction: column;
  align-content: center;
  gap:2rem;
  font-family: var(--fuente-secundaria);
}

.cabecera__menu--lista{
  font-family: var(--fuente-base);
  width:100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  
}

.cabecera__menu--titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecera__menu--titulo img{
  width: 10%;
  margin-right: 2rem;
}

.cabecera__menu ul li a {
  font-family: var(--fuente-base);
  color: #fff;
  font-weight: 500;
}

.cabecera__menu ul li a:hover,
.cabecera__menu ul li a:focus {
  color: #ffcdf3;
  text-decoration: underline;
}


.menu__titulo{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}


.menu__titulo img{
  margin-top: 2rem;
  width: 20%;
}

.buscador__formulario{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:80%;
}

.buscador__formulario img{
  width: 15%;
  align-content: center;
  margin-right: 1rem;
}

.buscador__formulario input{
  width:100%;
  padding: 0.6rem 1.2rem;
  border-radius: 1.5rem;
  background: white;
  font-size: 1rem;
}

/* INDEX */

.introduccion{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem;
  word-break: break-word; 
}

.introduccion__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.introduccion__descripcion{
  margin-top: 2rem;
  font-family: var(--fuente-base);
  font-weight: 600;
}

.mejores-sagas {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 2rem auto;
  background: rgba(255,255,255,0.7);
  padding: 2rem;
  border-radius: 4rem;
  max-width: 720px;
  transition: box-shadow 0.35s, transform 0.25s;
  border: 3px solid white;
  cursor: pointer;
}

.mejores-sagas:hover{
  transform: translateY(-6px);
}

.mejores-sagas__imagenes img:hover {
  transform: scale(1) rotate(-3deg);
}
.mejores-sagas__titulo {
  width: 100%;
  font-family: var(--fuente-base);
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--color-texto);
  padding-bottom: 2rem ;
  text-align: center;
}

.mejores-sagas__imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
}

.mejores-sagas__imagenes img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 18px;
  background: rgba(255,255,255,0.3);
  transition: transform 0.2s, box-shadow 0.22s;
}

.mejores-sagas__imagenes img[alt="Letra M de Mario Bros"]{
  background-color:#2773F5;
}

.mejores-sagas__imagenes img[alt="Inkling de Splatoon"]{
  background-color: #666565;
}

.mejores-sagas__imagenes img[alt="Kirby"]{
  background-color: #FF2626;
}

.sagas-principales {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 80%;
  margin: 2rem auto;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}


.sagas-principales__titulo{
  font-family: var(--fuente-secundaria);
  text-align: center;
  margin: 2rem 0;
  width: 80%;
  padding: 2rem;
  word-break: break-word; 
}


.sagas-principales p{
  padding-top: 1rem;
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  word-break: break-word; 
  
}

.sagas-principales h3{
  padding:2.5rem;
  font-size: 2rem;

 }

.sagas-principales img{
  background: rgba(255,255,255,0.7);
  border-radius: 4rem;
  transition: box-shadow 0.35s, transform 0.25s;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.sagas-principales img:hover {
  transform: scale(1) rotate(-3deg);
}

.sagas-principales__mario,.sagas-principales__splatoon,.sagas-principales__kirby{
  padding:2rem;
  background: rgba(255,255,255,0.7);
  border-radius: 6rem;
  border: 3px solid white;
  transition: box-shadow 0.35s, transform 0.25s;
}

.sagas-principales__mario:hover,.sagas-principales__splatoon:hover,.sagas-principales__kirby:hover{
  transform: translateY(-6px);
}

.extra{
  display: flex;
}

.noticias-destacadas{
  display: flex;
  flex-direction: column;
  width:25%;
  margin: 2rem;
  word-break: break-word; 
}

.noticias-destacadas img{
  border-radius: 6rem;
  width: 260px;               
  height: 160px;                          
  margin-bottom: 1rem;
  object-fit: cover;
  
}

.noticias-destacadas figcaption{
  font-size: 1.5rem;
}

.noticias-destacadas__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.noticias-destacadas__splatoon,.noticias-destacadas__kirby,.noticias-destacadas__mario{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding:2rem;
  gap:1rem;
}

.newsletter{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: 2rem auto;
  word-break: break-word;
}

.newsletter__titulo{
  font-family: var(--fuente-secundaria);
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  
}

.newsletter__descripcion{
  font-size: 1.2rem;
  font-weight: 400;
  margin:2rem;
}

.newsletter__formulario {
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255,0.7);
  border: 3px solid white;
  border-radius: 2rem;
  margin-top:5rem;
  padding: 2rem;
  gap: 1.5rem;
  max-width: 400px;
  width: 100%;
  transition: box-shadow 0.35s, transform 0.25s;
  cursor: pointer;
}

.newsletter__formulario:hover{
  transform: translateY(-6px);
}
.newsletter__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.4rem;
  gap: 1rem;
}

.newsletter__input {
  padding: 1rem;
  border: 1.5px solid #BDBDBD;
  border-radius: 0.7rem;
  font-size: 1rem;
  background: #fff;
  transition: border 0.18s;
}

.newsletter__boton {
  background: #C7A9C6;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.newsletter__boton:hover{
  transform: translateY(-6px);
  transition: box-shadow 0.65s, transform 0.45s;

}

.puntos-destacados{
  display: flex;
  flex-direction: column;
  width:25%;
  margin: 2rem;
  word-break: break-word; 
}


.puntos-destacados__titulo{
  margin-bottom: 1.5rem;
  font-family: var(--fuente-secundaria);
  font-size: 1.5rem;
  text-align: center;
  word-break: break-word;
}

.puntos-destacados__splatoon,
.puntos-destacados__kirby,
.puntos-destacados__mario{
  margin-bottom: 2rem;
}



.puntos-destacados__splatoon summary,
.puntos-destacados__kirby summary,
.puntos-destacados__mario summary {
  font-family: var(--fuente-secundaria);
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background: #3bc7e6;
  border-radius: 2rem;
  padding: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.puntos-destacados__splatoon a:active,
.puntos-destacados__kirby a:active,
.puntos-destacados__mario a:active
{
  background: #ffa0e5;
  color: var(--color-texto);
  transform: scale(1);
}

.puntos-destacados__splatoon a,
.puntos-destacados__kirby a,
.puntos-destacados__mario a
{
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-texto);
  background: #d3ffe8;
  border-radius: 1.25rem;
  font-weight: bold;
  font-family: var(--fuente-secundaria);
}

.puntos-destacados__splatoon a:hover,
.puntos-destacados__kirby a:hover,
.puntos-destacados__mario a:hover,
.puntos-destacados__splatoon a:focus-visible,
.puntos-destacados__kirby a:focus-visible,
.puntos-destacados__mario a:focus-visible{
  background: #97f542;
  transform: translateX(6px) scale(1)
}

.puntos-destacados__splatoon summary:hover,
.puntos-destacados__kirby summary:hover,
.puntos-destacados__mario summary:hover,
.puntos-destacados__splatoon summary:focus,
.puntos-destacados__kirby summary:focus,
.puntos-destacados__mario summary:focus,
.puntos-destacados__splatoon summary:focus-visible,
.puntos-destacados__kirby summary:focus-visible,
.puntos-destacados__mario summary:focus-visible {
  background: #ff78b4;
  color: #232323;
}

.puntos-destacados__splatoon ul,
.puntos-destacados__kirby ul,
.puntos-destacados__mario ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pie-pagina__contacto a:hover{
  color: #ff78b4;
}


/* CONTACTO */

.colaboracion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:1rem;
}

.colaboracion__titulo{
  text-align: center;
}

.colaboracion__descripcion{
  text-align: center;
  font-weight: 500;
}

.colaboracion__imagen{
  max-width: 300px;
  margin:0 auto;
  border-radius: 3rem;
}

.contacto{
  display: flex;
  flex-direction: column;
  margin:1rem;
}

.contacto__titulo{
  text-align: center;
}


.contacto__formulario{
  font-family: var(--fuente-base);
  background: white;
  border-radius: 2rem;
  padding: 2.5rem;
  max-width: 600px;
  margin: 2rem auto;
}

 .contacto__formulario fieldset {
  border: none;
  margin-bottom: 1.5rem;
  padding: 0;
}

.contacto__formulario legend {
  font-size: 1.3rem;
  font-weight: bold;
  color: #3178f0;
  margin-bottom: 1rem;
}

.contacto__formulario label {
  display: block;
  margin-bottom: 1rem;
  color: var(--color-texto)
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 3px solid #b3c5f6;
  border-radius: 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #3178f0;
  outline: none;
}

input[type="radio"] {
  margin-right: 0.5rem;
}

button[type="submit"],
button[type="reset"] {
  background:#0ccad8;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  font-size: rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0.75rem;
  transition: background 0.2s, transform 0.15s;
}

button[type="submit"]:hover,
button[type="reset"]:hover{
  transform: translateY(-6px);
}

.faq-contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap:1rem;
}

.faq-contacto details{
  width: 40%;
  text-align: center;
  background:#0ccad8;
  padding: 1rem;
  border-radius: 2rem;
  font-size: rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0.75rem;
}

.faq-contacto__titulo{
  text-align: center;
}

.faq-contacto__descripcion{
  text-align: center;
}
